@model ASP.Models.Cabinet

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы хотите убрать кабинет из списка?</h3>
<div>
    <h4>Кабинет:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Убрать" class="btn btn-default" /> |
            @Html.ActionLink("Отмена", "Index")
        </div>
    }
</div>
